<mat-spinner class="loading-spinner" *ngIf="isLoading"></mat-spinner>
<mat-list class="feed-list" *ngIf="feeds.length > 0 && !isLoading">
  <mat-list-item class="feed-row" *ngFor="let feed of feeds">
    <a class="author-link" matLine  href="{{feed.url}}" target="_blank">
      {{ feed.title }} <span class="author"> - {{ feed.author }} </span>
      <span class="created-at">{{ feed.createdAt | dateFormat }} </span>
    </a>

    <button class="delete-button" mat-icon-button (click)="onDelete(feed.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
<p class="info-text mat-body-1" *ngIf="feeds.length <= 0 && !isLoading">
  No feeds added yet!
</p>
